{% extends 'network/layout.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}

{% block body %}
    <h4 id="follow-user">{{ name }}</h4>
    <div class="row">
        <h6 class="col-2"><strong>Followers: </strong><span id="follower-count">{{ followers }}</span></h6>
        <h6 class="col"><strong>Following: </strong>{{ following }}</h6>
    </div>
    {% if user.is_authenticated and user.username != name %}
        <form class="form-group" id="follow-form">
        <button class="btn btn-primary" id="follow-button" type="submit">
            {% if is_following %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
        </form>
    {% endif %}

    <br>
    <h5 class="mb-2" id="title">User Posts</h5>
    {% for post in page_obj %}
        <div class="card mb-2">
            <div class="card-body">
                <span id="post-id" style="display: none;">{{ post.id }}</span>
                <h5 class="card-title">
                    <a href="{% url 'reuser' post.username %}">{{ post.username }}</a>
                </h5>
                <p class="card-text" id="post-text">{{ post.text }}</p>
                <h6 class="card-subtitle text-muted">{{ post.time }}</h6>
                {% if user.is_authenticated %}
                    <button style="color: red" id="like-button">
                        {% if post.is_liked %}
                            <i class="fa fa-heart"></i>
                        {% else %}
                            <i class="fa fa-heart-o"></i>
                        {% endif %}
                    </button>
                {% endif %}
                <small class="text-muted">{{ post.likes }}</small>
                {% if user.username == post.username %}
                    <button class="btn btn-sm btn-primary" id="edit-post">Edit Post</button>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <h4 class="text-center display-4" id="no-posts"><strong>No posts to display!</strong></h4>
    {% endfor %}
    {% if page_obj %}
        <nav aria-label="Page Navigation" class="mt-2">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="{% url 'userpage' name=name page=page_obj.previous_page_number %}" class="page-link">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
                    </li>
                {% endif %}
                {% for num in range %}
                    <li class="page-item"><a class="page-link" href="{% url 'userpage' name=name page=num %}">{{ num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="{% url 'userpage' name=name page=page_obj.next_page_number %}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" tabindex="-1" aria-disabled="true">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}